body{
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background: url(bart.jpg);
    background-size: cover;
}

#struts{
    display: flex;
    justify-content: space-around;
}
#struts > div {
    margin: 0 50;
    width: 14px;
    height: 20px;
    background-color:rgb(14, 14, 14)
}

#platform1, #platform2{
    /* font-family: 'the_led_display_stregular'; */
    font-size: 30px;
    /* font-family: 'Raleway Dots', cursive; */
    font-weight: 400;
    width: 400px;
    color: rgb(196, 0, 0);
    background-color: rgb(22, 0, 0);
    border: 12px solid rgb(14, 14, 14);
    border-left: 20px solid rgb(14, 14, 14);
    border-right: 20px solid rgb(14, 14, 14);
    text-shadow: 0 0 8px;
}

#line{

    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
}
